[submodule "submodules/git"]
	path = submodules/git
	url = git@github.com:davidde/git.git
[submodule "submodules/autosub"]
	path = submodules/autosub
	url = git@github.com:davidde/mpv-autosub.git
[submodule "submodules/dotcon"]
	path = submodules/dotcon
	url = git@github.com:davidde/dotcon.git
